{% extends "layout.html" %}
{% block content %}
<p>AKT PIERWSZY<br />SCENA I<br />
    Las blisko jeziora Gopła &mdash; chata pustelnika ustrojona kwiatami i bluszczem. &mdash; Kirkor wchodzi w karaceńskiej zbroi, bogato ubrany, z orlimi skrzydłami&hellip;<br />
    KIRKOR<br />
    sam<br />
    Rady zasięgnąć warto u człowieka,<br />
    Kt&oacute;ry się kryje w tej zaciszy leśnej;<br />
    Pobożny starzec &mdash; ma jednak w rozumie<br />
    Nieco szaleństwa: ilekroć mu prawisz <br />
    O zamkach, kr&oacute;lach, o kr&oacute;lewskich dworach,<br />
    To jak szalony od rozumu błądzi,<br />
    Miota przekleństwa, pieni się, narzeka;<br />
    Musiał od kr&oacute;l&oacute;w doznać wiele złego,<br />
    I z owąd został przyjacielem gminu. <br />
    stuka do celi<br />
    Puk! puk! puk!<br />
    GŁOS Z CELI<br />
    Kto tam?<br />
    KIRKOR<br />
    Kirkor.<br />
    PUSTELNIK<br />
    wychodząc z celi<br />
    Witaj synu&hellip;<br />
    Czego chcesz?<br />
    KIRKOR<br />
    Rady.<br />
    PUSTELNIK<br />
    Zostań pustelnikiem.<br />
    KIRKOR<br />
    Gdybym podstarzał dziesiątym krzyżykiem,<br />
    Może bym w smutne schronił się dąbrowy;<br />
    Ale ja młody, pan czterowieżowy,<br />
    Przemyślam dzisiaj, jak by się ożenić&hellip;<br />
    Poradź mi, starcze.<br />
    PUSTELNIK<br />
    Lat dwadzieścia z g&oacute;rą<br />
    Jak żyję w puszczy&hellip;<br />
    KIRKOR<br />
    C&oacute;ż stąd?<br />
    PUSTELNIK<br />
    Więc ocenić<br />
    Ludzi nie mogę &mdash; ani wskazać, kt&oacute;rą<br />
    Weźmiesz dziewicę.<br />
    KIRKOR<br />
    Te, co rozkwitały<br />
    Z dzieciństwa pączk&oacute;w, gdyś ty żył na świecie,<br />
    Są dziś pannami&hellip; czerwony li biały<br />
    Pączek na r&oacute;ży, taka będzie r&oacute;ża&hellip;<br />
    Przypomnij niegdyś najpiękniejsze dziecię,<br />
    Białą, jak w ręku anielskiego str&oacute;ża<br />
    Kwiat lilijowy &mdash; niech jej słowik śpiewny<br />
    Zazdrości głosu, a synogarlica <br />
    Wiernością zr&oacute;wna&hellip; gdzie taka dziewica,<br />
    Wskaż mi, o starcze? M&oacute;wią, że kr&oacute;lewny<br />
    Słyną wdziękami? <br />
    PUSTELNIK<br />
    Nieba! to r&oacute;d węża.<br />
    Żona zbrodniami podobna do męża,<br />
    C&oacute;rki do ojca, a do matek syny;<br />
    Jak w jednym gnieździe skłębione gadziny.<br />
    O bogdaj piorun!&hellip;<br />
    KIRKOR<br />
    Nie przeklinaj.<br />
    PUSTELNIK<br />
    Młody,<br />
    Przeklinaj ze mną &mdash; oni klątwy warci.<br />
    Bogdaj doznali, co pom&oacute;r i głody!<br />
    Bogdaj piorunem na poły pożarci,<br />
    Padając w ziemi paszczą rozdziawioną,<br />
    Proch mieli płaszczem, a węża koroną.<br />
    Bogdaj! &mdash; Klnąc zb&oacute;jcę potargałem siły,<br />
    Wściekłem się jako brytan uwiązany.<br />
    Bo też ja kiedyś byłem pan nad pany,<br />
    Stutysiącznemu narodowi miły,<br />
    Żyłem w purpurze, dziś noszę łachmany;<br />
    Muszę przeklinać. Miałem dziatek troje,<br />
    Nocą do komnat weszli brata zb&oacute;je,<br />
    R&oacute;życzki moje trzy z łodygi ścięto!<br />
    Dziecinki moje w kołyskach zarżnięto!<br />
    Aniołki moje!&hellip; wszystkie moje dzieci! <br />
    KIRKOR<br />
    Kt&oacute;ż jesteś, starcze?<br />
    PUSTELNIK<br />
    Ja&hellip; Kr&oacute;l Popiel trzeci&hellip;<br />
    KIRKOR<br />
    schyla kolano<br />
    Kr&oacute;lu m&oacute;j! <br />
    PUSTELNIK<br />
    Kt&oacute;ż mię z żebraki rozezna?&hellip;<br />
    KIRKOR<br />
    Uzbrajam chamy i lecę do Gnezna<br />
    Mścić się za ciebie&hellip; <br />
    PUSTELNIK<br />
    Młodzieńcze, rozwagi!<br />
    KIRKOR<br />
    Bezprawie gorzej od Mojżesza plagi <br />
    Kala tę ziemię i prędzej się szerzy;<br />
    Popiel, skalany dzieci krwią niewinną,<br />
    Niegodny rządzić tłumowi rycerzy.<br />
    Niech więc się stanie, co się stać powinno,<br />
    Pod okiem Boga, na tej biednej ziemi. <br />
    PUSTELNIK<br />
    Czy ty skrzydłami anioła złotemi<br />
    Z nieba zleciałeś? <br />KIRKOR<br />
    Na barkach orlicy<br />
    Para tych białych skrzydeł wyrastała;<br />
    Gdy na rycerskiej są naramiennicy,<br />
    Będzieżli rycerz mniej niż owa biała<br />
    Ptaszyna ludziom użyteczny? &mdash; mali <br />
    Gadom przepuszczać rycerz uskrzydlony<br />
    Orła pi&oacute;rami? <br />PUSTELNIK<br />
    O mężu ze stali!<br />
    Ty jesteś z owych, kt&oacute;rzy walą trony.<br />
    KIRKOR<br />
    Ty wiesz, jak nasza ziemia wszeteczeństwem<br />
    Kr&oacute;la skalana. Wiesz, jak Popiel krwawy<br />
    Pastwi się coraz nowym okrucieństwem&hellip;<br />
    Zaczerwienione krwią widziałem stawy:<br />
    Kr&oacute;l żywi karpie ciałem niewolnik&oacute;w.<br />
    Nieraz wybiera dziesiątego z szyk&oacute;w<br />
    I tnąc w kawały, ulubionym rybom<br />
    Na żer wyrzuca; resztę ciał wymiata<br />
    Na dworskie pola i czerwonym skibom<br />
    Ziarno powierza. Sąsiad ziemię kata<br />
    Na pośmiewisko zwie Rusią Czerwoną. <br />
    Dotąd żyjącym pod Lecha koroną<br />
    B&oacute;g dawał żniwo szczęścia niezasiane,<br />
    Lud żył szczęśliwy; dzisiaj niesłychane<br />
    Pomory, głody sypie Boża ręka. <br />
    Ziemia upałem wysuszona pęka;<br />
    Wiosenne runa złocą się, nim ziarno<br />
    Czoła pochyli, a wieśniacy garną<br />
    Sierpami pr&oacute;żne tylko włosy żyta.<br />
    Ta sama Polska, niegdyś tak obfita,<br />
    Staje się co rok szarańczy szpichlerzem;<br />
    Niegdyś tak bitna, dziś bladym rycerzem<br />
    Z głodami walczy i z widmem zarazy.<br />
    PUSTELNIK<br />
    Ach jam przeklęty! przeklęty! trzy razy<br />
    Przeklęty! winien jestem nieszczęść ludu.<br />
    KIRKOR<br />Jako, tyś winien?&hellip;<br />
    PUSTELNIK<br />
    Z rozlicznego cudu<br />
    Korona Lecha sławną niegdyś była,<br />
    W niej szczęścia ludu, w niej krainy siła<br />
    Cudem zamknięta&hellip; oto ja, wygnany,<br />
    Lud pozbawiłem tej korony.<br />
    KIRKOR<br />
    Starcze?&hellip;<br />
    PUSTELNIK<br />
    Korona brata mego jak liczmany <br />
    Fałszywa&hellip; moja pod spr&oacute;chniałe karcze <br />
    Lasu wkopana&hellip; miałem ją do grobu<br />
    Ponieść za sobą.<br />
    KIRKOR<br />
    Skądże tej koronie <br />
    Cudowna władza?<br />
    PUSTELNIK<br />
    Ku ojczystej stronie<br />
    Wracali niegdyś od Betleem żłobu<br />
    Święci kr&oacute;lowie &mdash; dw&oacute;ch Mag&oacute;w i Scyta.<br />
    &Oacute;w kr&oacute;l p&oacute;łnocny zaszedł w nasze żyta,<br />
    Zabłądził w zbożu jak w lesie &mdash; bo zboże<br />
    Rosło wysokie jak las w kraju Lecha;<br />
    Więc zabłądziwszy rzekł: &laquo;Wyprowadź, Boże!&raquo;<br />
    Aż oto przed nim odkrywa się strzecha<br />
    Kr&oacute;lewskiej chaty &mdash; bo Lech mieszkał w chacie. &mdash; <br />
    Wszedł do niej Scyta i rzekł: &laquo;Kr&oacute;lu! bracie!<br />
    Idę z Betleem, a gwiazda błękitna<br />
    Twoich bławatk&oacute;w ciągle szła przede mną,<br />
    Aż tu zawiodła&raquo;. &mdash; Lech rzekł: &laquo;Zostań ze mną.<br />
    Kraina moja szczęśliwa i bitna,<br />
    Jeśli chcesz, to się tą ziemicą z tobą<br />
    Dzielę na poły&raquo;. &mdash; Scyta rzekł: &laquo;Zostanę,<br />
    Lecz kraju nie chcę, bo ziemie złamane<br />
    Rozgraniczają się krwią i żałobą<br />
    Dzieci i matek&raquo;. Więc razem zostali;<br />
    Ale to długa powieść&hellip;<br />
    KIRKOR<br />
    M&oacute;w! m&oacute;w dalej!<br />
    PUSTELNIK<br />
    Więc jako dawniej czynili mocarze,<br />
    Z Lechem się mieniał Scyta na obrączki;<br />
    A pokochawszy mocniej sercem, w darze<br />
    Dał mu koronę&hellip; stąd nasza korona.<br />
    Zbawiciel niegdyś wyciągając rączki<br />
    Szedł do niej z matki zadumanej łona<br />
    I ku rubinom podawał się cały<br />
    Jako r&oacute;życzka z liści wychylona,<br />
    I wołał: caca! i na brylant biały<br />
    R&oacute;żanych ustek perełkami świecił. <br />
    KIRKOR<br />
    O biedny kwiatku! na toż ty się kwiecił,<br />
    By cię na krzyżu ćwiekami przybito?<br />
    Czemuż nie było mnie tam na Golgocie,<br />
    Na czarnym koniu, z uzbrojoną świtą!<br />
    Zbawiłbym Zbawcę &mdash; lub wyrąbał krocie <br />
    Zb&oacute;jc&oacute;w na zemstę umarłemu. <br />
    PUSTELNIK<br />
    Synu!<br />
    B&oacute;g weźmie twoją pochopność do czynu<br />
    Za czyn spełniony. Wr&oacute;ćmy w nasze czasy.<br />
    Gdy mię brat wygnał, uniosłem w te lasy<br />
    Świętą koronę&hellip;<br />
    KIRKOR<br />
    Wr&oacute;ci ona! wr&oacute;ci!<br />
    Przysięgam tobie&hellip; Lecz&hellip;<br />
    PUSTELNIK<br />
    Co chcesz powiadać?<br />
    KIRKOR<br />
    Nim Kirkor w przepaść okropną się rzuci<br />
    Szukając zemsty &mdash; chcę &mdash; chciałbym cię badać,<br />
    Na jakim pieńku zaszczepić rodowe<br />
    Drzewo Kirkor&oacute;w, aby kiedyś nowe<br />
    Plemię rycerzy tronu twego strzegło?<br />
    Kogo wprowadzić w podwoje zamkowe<br />
    Z żony imieniem?<br />
    PUSTELNIK<br />
    Tylu ludzi biegło<br />
    Z pierścionkiem ślubnym za marą wielkości,<br />
    A prawie wszyscy wzięli kość niezgody<br />
    Zamiast straconej z żebra swego kości.<br />
    Postąp inaczej &mdash; ty szlachetny, młody;<br />
    Niechaj ci pierwsza jask&oacute;łka pokaże,<br />
    Pod jaką belką gniazdo ulepiła;<br />
    Gdzie okienkami błysną dziewic twarze,<br />
    A dach słomiany, tam jest twoja miła.<br />
    Ani się wahaj, weź pannę ubogą,<br />
    Żeń się z prostotą, i niechaj ci błogo<br />
    I lepiej będzie, niżbyś miał z kr&oacute;lewną&hellip; <br />
    KIRKOR<br />
    Tak radzisz, starcze?<br />
    PUSTELNIK<br />
    Idź, synu, na pewno <br />
    Do biednej chaty &mdash; niechaj żona karna,<br />
    Miła, niewinna&hellip; <br />
    KIRKOR<br />
    Jask&oacute;łeczko czarna!<br />
    Ptaszyno moja, gdzie mię zaprowadzisz?<br />
    PUSTELNIK<br />
    Słuchaj mię, synu&hellip;<br />
    KIRKOR<br />
    Starcze, dobrze radzisz&hellip;<br />
    Prowadź, jask&oacute;łko!<br />
    Odchodzi Kirkor.<br />
    PUSTELNIK<br />
    sam<br />
    O! ci młodzi ludzie,<br />
    Odchodzą od nas i wołają głośno:<br />
    Idziemy szukać szczęścia. Więc my, starce,<br />
    Cośmy przebiegli po tej biednej ziemi,<br />
    A nigdy szczęścia w życiu nie spotkali;<br />
    Możeśmy tylko szukać nie umieli&hellip;<br />
    Idź! idź! idź, starcze, do pustelnej celi&hellip; <br />
    chce wchodzić do celi &mdash; i zatrzymuje się na progu<br />
    Wchodzi Filon, pasterz&hellip; zamyślony &mdash; fantastycznie we wstążki i kwiaty ubrany.<br />
    FILON<br />
    z egzaltacją<br />
    O! złote słońce! drzewa ukochane!<br />
    O! ty strumieniu, kt&oacute;ry po kamykach<br />
    Z płaczącym szumem toczysz fale śklane!<br />
    Rozmiłowane w jęczących słowikach<br />
    R&oacute;że wiosenne! z wami Filon skona!<br />
    Bo Filon marzył los Endymijona,<br />
    Marzył, że kiedyś po blasku miesiąca<br />
    Biała bogini, r&oacute;żami wieńczona,<br />
    Z niebios błękitnych przypłynie, i drżąca<br />
    Czoło pochyli, a koralowemi<br />
    Ustami usta moje rozpłomieni.<br />
    Ach! tak marzyłem! Ale na tej ziemi<br />
    Nie ma Dyjanny. Samotny uwiędnę<br />
    Jako fijołek &mdash; albo kwiat jesieni.<br />
    PUSTELNIK<br />
    Co znaczą owe narzekania zrzędne?<br />
    Młody szaleńcze, gdzie zimny rozsądek?<br />
    Wywracasz świata boskiego porządek,<br />
    A że ty chciwy Akteona wanien,<br />
    Czekasz na ziemi anielskiego b&oacute;stwa:<br />
    Dlatego tyle zestarzałych panien<br />
    Dotąd się męż&oacute;w swych nie doczekały;<br />
    Szukaj kochanki na ziemi.<br />
    FILON<br />
    Świat cały<br />
    Na pr&oacute;żno zbiegłem przeglądając mn&oacute;stwa<br />
    Dziewic śmiertelnych. Nieraz wzrok łakomy<br />
    Śledził spod złotej kapelusz&oacute;w słomy<br />
    Żniwiarek twarze, podobne czerwienią<br />
    Makom zbożowym. Nieraz poglądam<br />
    Na białe pł&oacute;tna, łąk jasną zielenią<br />
    Słońcu podane; rojąc serca szałem,<br />
    Że z bieli pł&oacute;cien jako z morskiej piany<br />
    Alabastrowa miłości bogini<br />
    Wyjdzie na słońce. Ach! tak obłąkany,<br />
    Żyłem na świecie jako na pustyni;<br />
    Nienasycony, dumający, rzewny. <br />
    Byłem na dworach, widziałem kr&oacute;lewny<br />
    Podobne gwiaździe Wenus, co wynika<br />
    Wieczorem z nieba r&oacute;żowego zorzą,<br />
    Zaczerwieniona, ale bez promyka.<br />
    Serca nie mają, a sercem się drożą <br />
    Więcej niż koron brylantami.<br />
    PUSTELNIK<br />
    Głupcze!<br />
    Niedoścignionych gwiazd szalony kupcze!<br />
    Ty, co na dworach szukałeś kochanki:<br />
    Precz! precz ode mnie, kwiecie beznasienny, <br />
    Studniom niezdatny jak stłuczone dzbanki,<br />
    Światowi jako słońca blask jesienny<br />
    Bezużyteczny. Skoro na tron wr&oacute;cę,<br />
    Zamknę cię w szpital szalonych lub rzucę<br />
    Na bakalarską ławę między dzieci. <br />
    FILON<br />
    M&oacute;j dobry ojcze! niechaj ci B&oacute;g świeci!<br />
    Musisz być chory, gadasz nieprzytomnie.<br />
    PUSTELNIK<br />
    Wszyscy szaleńcy zlatują się do mnie,<br />
    A wszyscy marzą o kr&oacute;lewskich dworach,<br />
    Myślą o kr&oacute;lach, a kryją się w borach,<br />
    I jęczą, jęczą jak oślepłe sowy. <br />
    FILON<br />
    Wsadź, starcze, głowę w strumień kryształowy,<br />
    Może ochłonie.<br />
    PUSTELNIK<br />
    Woda nie obmyje<br />
    Na moim czole czerwonego pasu.<br />
    Widzisz! czy widzisz, jak korona ryje?<br />
    Dwudziestoletnie życie w głębi lasu<br />
    Nie zagoiło rany. Pas na czole,<br />
    A drugi taki pas mi serce płata;<br />
    Ten od korony,<br />
    pokazując na serce<br />
    ten od miecz&oacute;w kata.<br />
    O! moje dzieci! o! sieroctwa bole!<br />
    O! moja przeszłość! <br />
    FILON<br />
    Nudzi mię ten stary,<br />
    W głowie ma jakieś bezcielesne mary,<br />
    Pewnie oszalał samotnością, postem.<br />
    PUSTELNIK<br />
    Cierpienie myśli jest kolącym ostem,<br />
    Lecz rzeczywistość&hellip; o! ta jak żelazo<br />
    Rani, zabija&hellip;<br />
    FILON<br />
    O tym inną razą <br />
    M&oacute;wić będziemy, a przekonam ciebie,<br />
    Że smutek serca&hellip;<br />
    PUSTELNIK<br />
    Niechaj cię pogrzebie,<br />
    Mdława istoto. Nic niech nic zabije;<br />
    A tw&oacute;j grobowiec zamknie nic.<br />
    FILON<br />
    O luba!<br />
    Nieznaleziony tw&oacute;j obraz<br />
    pokazując na serce<br />
    tu żyje!<br />
    Nieznalezienie gorsze niźli zguba;<br />
    Jam cię nie znalazł, a widzę przed sobą!<br />
    Idę do lasu, gdzie będę sam &mdash; z tobą&hellip;<br />
    Błogosławiony wyobraźni cudzie,<br />
    Ty mnie ocalasz! <br />
    odchodzi w las<br />
    PUSTELNIK<br />
    Jak szaleją ludzie! <br />
    wchodzi do celi</p>
    {% endblock %}