<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balladyna</title>
</head>
<body>
    <header>
        <h1>Balladyna, Juliusz Słowacki 1834 rok</h1>
    </header>
    <section>
        <h2>Table of contents</h2>
        <ul>
            <li><a href="./">Home Page</a></li>
            <li><a href="./k1">Akt 1 scena 1</a></li>
            <li><a href="./k2">Akt 1 scena 2</a></li>
            <li><a href="./k3">Akt 1 scena 3</a></li>
            <li><a href="./k4">Akt 2 scena 1</a></li>
            <li><a href="./k5">Akt 2 scena 2</a></li>
            <li><a href="./k6">Akt 3 scena 1</a></li>
            <li><a href="./k7">Akt 3 scena 2</a></li>
            <li><a href="./k8">Akt 3 scena 3</a></li>
            <li><a href="./k9">Akt 3 scena 4</a></li>
            <li><a href="./k10">Akt 3 scena 5</a></li>
            <li><a href="./k11">Akt 4 scena 1</a></li>
            <li><a href="./k12">Akt 4 scena 2</a></li>
            <li><a href="./k13">Akt 4 scena 3</a></li>
            <li><a href="./k14">Akt 4 scena 4</a></li>
            <li><a href="./k15">Akt 4 scena 5</a></li>
            <li><a href="./k16">Akt 5 scena 1</a></li>
            <li><a href="./k17">Akt 5 scena 2</a></li>
            <li><a href="./k18">Akt 5 scena 3</a></li>
            <li><a href="./k19">Akt 5 scena 4</a></li>
        </ul>
    </section>
    <section>
        {% block content %}
        <p> Layout file</p>
        {% endblock %}
    </section>
    <footer>
        <p>Wiktoria Świątkowska, Krakow University of Economics</p>
    </footer>
</body>
</html>